body{
  background-color: #141414;
}

.netflix-nav-dark{
background-color: #141414;
}

.white-border{
  border: solid 1px white;
  background-color: black;
}

.nav-text {
  color: white;
}

.sections{
  color: white;
}

svg{
  fill: white;
}

.profile-body {
background-color: #202020;
margin: 0;

}

.navbar {
background-image: linear-gradient#060606,#131313;
height: 70px;
margin: 0;
padding: 0;
}

.netflix-logo {
  max-height: 43px;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 9px;
  left: 7px;
}
.strive-pic {
  max-height: 105px;

}
.container-profile {
  height: 100vh;
  max-width: 1110px;
  background-color: #141414;
  margin: 0 auto;
  
}
.col-right {
  position: relative;
  padding-left: 55px;

}
.container-edit {
  position: relative;
  margin-left: 385px;
  max-width: 480px;  
}

.images {
max-height: 80%;

}
.h1-profile {
  font-size: 52px;
  font-weight: 450;
  color: white;
  margin-top: 30px;
  margin-bottom: 3px;
  padding-bottom: 0;
  letter-spacing: 2px;
}
h5 {
  color: #b9b7b3;
  font-size: 16px;
  margin-bottom: 4px;
}

.hr-profile {
  border: 1px solid #838181;
  margin-top: 0;
}
.hr-profile-bottom {
  border: 1px solid #838181;
  margin-bottom: 3px;
  margin-top: 28px;
   }

.hr-right {
  border: 1px solid rgb(150, 149, 149);
}

.btn-student {
  width: 310px;
  height: 35px;
  
  top: 0px;
  left: 0px;
  text-align: left;
  background-color: #666666;
  color: white;
  border: none;
  padding-left: 15px;
  margin-bottom: 25px;
  }
  .btn-language {
    font-size: 10px;
    font-weight: 700;
    background-color: #141414;
    border-radius: 0;
    border: 2px solid rgb(172, 170, 170);
    text-align: left;
    height: 25px;
    width: 100px;
    margin-top: 2px;
    margin-bottom: 7px;
   
    
  }
  .dropdown-language {
    margin-left: 10px;
    float: right;
  }


  .btn-maturity {
    font-size: 11px;
    font-weight: bolder;
    background-color: #333333;
    border: none;
    color: white;
    padding: 6px 10px;
    opacity: 0.9;
    letter-spacing: 1px;
    margin-top: 10px;
    width: 175px;
  }
  .btn-edit {
    width: 70px;
    height: 30px;
    background-color: hsl(0, 0%, 8%);
    border: 2px solid rgb(75, 75, 75);
    color: rgb(112, 107, 107);
    border-radius: 1px;
    font-size: 11px;
    font-weight: 650;
    letter-spacing: 2px;
    opacity: 0.9;
    margin-bottom: 10px;
  }
  .maturity-text {
    font-size: 13px;
    font-weight: 600;
    color: hsl(0, 3%, 79%);
    padding-top: 10px; 
  }
  .autoplay-text {
    display: inline;
    vertical-align: middle;
    font-size: 13px;
    color: whitesmoke;
    padding-left: 3px;padding-bottom: 15px
    ;
  }
  .text-div {
    display: inline;
    padding-bottom: 5px;
  }
  .checkbox1 {
    width: 28px;
    height: 28px;
    color:rgb(2, 19, 19);
    background: #141414;
    display: inline;
    opacity: 0.1;
    border: 20px solid rgb(216, 15, 15);
  }
  .btn-save {
    display: inline;
    height: 38px;
    width: 97px;
    margin-right: 10px;
    font-weight: 600;
    letter-spacing: 2px;
  }
  .btn-cancel {
    display: inline;
    height: 37px;
    width: 130px;
    margin-right: 10px;
    background-color: #141414;
    color: rgb(112, 107, 107);
    opacity: 0.9;
    border: 2px solid rgb(75, 75, 75);
    letter-spacing: 2px;
  }
  .btn-delete {
    display: inline;
    height: 38px;
    width: 200px;
    border: 2px solid rgb(75, 75, 75);
    background-color: #141414;
    color: rgb(112, 107, 107);
    opacity: 0.9;
    letter-spacing: 3px;
  }
  @media screen and (max-width: 1024px){
    .container-edit {
      margin: 0 auto;
    }
  }
  